@import "tailwindcss";

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../src/assets/fonts/CormorantGaramond-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-inter: "Inter", sans-serif;
}

@layer base{
  body{
    @apply bg-[#FEFAF1]
  }
}